In [1]:
import pandas as pd
import os

In [2]:
def calculate_data_stats(dataframe, filename):
    # Set 'Timestamp' as index if present
    if 'Timestamp' in dataframe.columns:
        dataframe['Timestamp'] = pd.to_datetime(dataframe['Timestamp'], errors='coerce')
        dataframe = dataframe.set_index('Timestamp')
    
    stats = {}
    stats['filename'] = filename
    
    stats["Years"] = f"{dataframe.index[0]} to {dataframe.index[-1]}"
    
    stats["Rows"] = dataframe.shape[0]
    stats["Features"] = dataframe.shape[1]
    stats["Empty Rows"] = dataframe.isnull().all(axis=1).sum()
    
    missing_cols = []
    present_cols = []
    for p in dataframe.columns:
        count = dataframe[p].notnull().sum()
        percent = round(count * 100 / dataframe.shape[0], 2)
        stats[p] = percent
        if count == 0:
            missing_cols.append(p)
        else:
            present_cols.append(p)
    
    stats["Missing Features"] = str(missing_cols)
    stats["Rows with Missing Values"] = dataframe[present_cols].isnull().any(axis=1).sum() if present_cols else 0
    
    # Count ADDITIONAL missing (only from present columns)
    if present_cols:
        missing_counts = dataframe[present_cols].isnull().sum(axis=1)
        missing_bins = round((missing_counts.value_counts() * 100 / dataframe.shape[0]), 2).sort_index()
        for bin_count, percent in missing_bins.items():
            stats[f'additional_missing_{int(bin_count)}'] = percent
    
    return stats

In [3]:
def batch_data_stats(folder_path, stats_fn):
    """
    Runs the given stats function on every CSV file in the folder,
    appends the overall stats (scalars only) to a list, and returns a DataFrame.
    """
    results = []
    for fname in sorted(os.listdir(folder_path)):
        if fname.endswith('.csv'):
            fpath = os.path.join(folder_path, fname)
            try:
                df = pd.read_csv(fpath)
                stats = stats_fn(df,fname)
                results.append(stats)
            except Exception as e:
                print(f"Error processing {fname}: {e}")
    return pd.DataFrame(results)

# Example usage:
summary_df = batch_data_stats('/home/rishi/ML Projects/Air Pollution/sites_comb', calculate_data_stats)
summary_df.head()

,filename,Years,Rows,Features,Empty Rows,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),...,additional_missing_14,additional_missing_15,additional_missing_17,additional_missing_16,additional_missing_18,additional_missing_19,additional_missing_20,additional_missing_21,additional_missing_22,additional_missing_23
0,site_103_CRRI_Mathura_Road_Delhi_IMD_15Min.csv,2017-01-01 00:00:00 to 2025-12-31 23:00:00,78888,24,0,86.38,84.54,82.70,85.92,86.85,...,0.04,0.01,11.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,site_104_Burari_Crossing_Delhi_IMD_15Min.csv,2017-01-01 00:00:00 to 2025-12-31 23:00:00,78888,24,0,59.27,59.52,48.77,53.84,60.00,...,35.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,site_105_North_Campus_DU_Delhi_IMD_15Min.csv,2017-01-01 00:00:00 to 2025-12-31 23:00:00,78888,24,0,84.39,84.11,82.20,83.29,86.39,...,0.02,0.00,12.87,0.01,NaN,NaN,NaN,NaN,NaN,NaN
3,site_106_IGI_Airport_(T3)_Delhi_IMD_15Min.csv,2017-01-01 00:00:00 to 2025-12-31 23:00:00,78888,24,0,83.73,84.43,81.77,81.23,81.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,site_107_Pusa_Delhi_IMD_15Min.csv,2017-01-01 00:00:00 to 2025-12-31 23:00:00,78888,24,0,82.25,83.06,82.91,83.87,84.91,...,0.11,0.02,0.01,0.03,14.33,NaN,NaN,NaN,NaN,NaN

In [4]:
summary_df.to_csv("summary_df.csv")

In [5]:
(summary_df==0).sum(axis=0)

filename                      0
Years                         0
Rows                          0
Features                      0
Empty Rows                  363
PM2.5 (µg/m³)                 3
PM10 (µg/m³)                  8
NO (µg/m³)                    7
NO2 (µg/m³)                   2
NOx (ppb)                     6
NH3 (µg/m³)                  63
SO2 (µg/m³)                  23
CO (mg/m³)                    6
Ozone (µg/m³)                21
Benzene (µg/m³)              65
Toluene (µg/m³)             153
Xylene (µg/m³)              397
O Xylene (µg/m³)            525
Eth-Benzene (µg/m³)         165
MP-Xylene (µg/m³)           171
AT (°C)                     101
RH (%)                       42
WS (m/s)                     41
WD (deg)                     39
RF (mm)                     141
TOT-RF (mm)                  83
SR (W/mt2)                   95
BP (mmHg)                   297
VWS (m/s)                   486
Missing Features              0
Rows with Missing Values      0
additional_missing_0          9
additional_missing_1          4
additional_missing_2          2
additional_missing_3          3
additional_missing_4          0
additional_missing_5          3
additional_missing_6          3
additional_missing_7         13
additional_missing_8         31
additional_missing_9         37
additional_missing_10        57
additional_missing_11        70
additional_missing_12        78
additional_missing_13        87
additional_missing_14        89
additional_missing_15        96
additional_missing_17        98
additional_missing_16        91
additional_missing_18        72
additional_missing_19        26
additional_missing_20         9
additional_missing_21         2
additional_missing_22         1
additional_missing_23         0
dtype: int64